/* MEDIA QUERY DESKTOP MOD  */

@media screen and (min-width: 992px) {
    .main-navbar { width: 160px;}

    .media {
        display: inline-block;
    }

    .medias {
        display: none;
    }
}